
<% layout("./layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-3 mt-5">
            <h3><%= listing.title %> </h3>
        </div>
        <div class="card listing-card col-md-6 mt-3 show-card offset-md-3" >
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing-image">
            <div class="card-body mt-2">
              <p class="card-text">
                <%= listing.description %>  <br>
                &#8377;<%= listing.price.toLocaleString("en-In") %> <br>
                <%= listing.location %>  <br>
                <%= listing.country %>  <br>
              </p>
            </div>
        </div>
    </div>
    <div class="btns">
        <button class="btn btn-dark col-md-1 offset-md-3 edit-btn"><a href="/listings/<%= listing._id %>/edit">Edit Listing</a></button>
        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    
    <div class="col-md-8 offset-md-3">
        <hr>
        <h4 class=" mt-3">Leave a Review</h4>
        <form novalidate class="needs-validation" method="post" action="/listings/<%= listing.id %>/reviews">
            <div class=" mt-4 mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" value="5" name="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="comment">Comment</label>
                <textarea  class="form-control"  name="comment" id="comment" col="30" row="10" required></textarea>
                <div class="invalid-feedback">
                    Please add some comment 
                </div>
            </div>
            <button class="btn btn-outline-dark mb-5" type="submit">Submit</button>
        </form>

        
        <h4 class="mb-4">Reviews:</h4>
        <div class="row">
            <% for(let review of listing.reviews){ %>
                <div class="card col-5 ms-3 mb-3" >
                    <div class="card-body">
                      <h5 class="card-title">@<b>John Cena</b></h5>
                      <p class="card-text"><%= review.comment %></p>
                      <p class="card-text"><%= review.rating %> stars</p>
                    </div>
                    <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark mt-2 mb-2">Delete</button>
                    </form>
                </div>
            <%}%>
        </div>
    </div>
</body>